# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## User settings
xcuserdata/

## compatibility with Xcode 8 and earlier (ignoring not required starting Xcode 9)
*.xcscmblueprint
*.xccheckout

## compatibility with Xcode 3 and earlier (ignoring not required starting Xcode 4)
build/
DerivedData/
*.moved-aside
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3

## Obj-C/Swift specific
*.hmap

## App packaging
*.ipa
*.dSYM.zip
*.dSYM

## Playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
#
# Add this line if you want to avoid checking in source code from Swift Package Manager dependencies.
# Packages/
# Package.pins
# Package.resolved
# *.xcodeproj
#
# Xcode automatically generates this directory with a .xcworkspacedata file and xcuserdata
# hence it is not needed unless you have added a package configuration file to your project
# .swiftpm

.build/

# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# https://guides.cocoapods.org/using/using-cocoapods.html#should-i-check-the-pods-directory-into-source-control
#
# Pods/
#
# Add this line if you want to avoid checking in source code from the Xcode workspace
# *.xcworkspace

# Carthage
#
# Add this line if you want to avoid checking in source code from Carthage dependencies.
# Carthage/Checkouts

Carthage/Build/

# Accio dependency management
Dependencies/
.accio/

# fastlane
#
# It is recommended to not store the screenshots in the git repo.
# Instead, use fastlane to re-generate the screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/#source-control

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Code Injection
#
# After new code Injection tools there's a generated folder /iOSInjectionProject
# https://github.com/johnno1962/injectionforxcode

iOSInjectionProject/
/.DS_Store
/RxSwift-MVVMSample/Podfile
/RxSwift-MVVMSample/Podfile.lock
/RxSwift-MVVMSample/Pods/Manifest.lock
/RxSwift-MVVMSample/Pods/RxCocoa/RxCocoa/iOS/Proxies/RxCollectionViewDelegateProxy.swift
/RxSwift-MVVMSample/Pods/RxCocoa/RxCocoa/iOS/Proxies/RxCollectionViewDataSourceProxy.swift
/RxSwift-MVVMSample/Pods/RxCocoa/RxCocoa/iOS/Proxies/RxCollectionViewDataSourcePrefetchingProxy.swift
/RxSwift-MVVMSample/Pods/RxCocoa/RxCocoa/iOS/Protocols/RxTableViewDataSourceType.swift
/RxSwift-MVVMSample/Pods/RxCocoa/RxCocoa/iOS/Protocols/RxPickerViewDataSourceType.swift
/RxSwift-MVVMSample/Pods/RxCocoa/RxCocoa/iOS/Protocols/RxCollectionViewDataSourceType.swift
/RxSwift-MVVMSample/Pods/RxCocoa/RxCocoa/iOS/NSTextStorage+Rx.swift
/RxSwift-MVVMSample/Pods/RxCocoa/RxCocoa/iOS/Events/ItemEvents.swift
/RxSwift-MVVMSample/Pods/RxCocoa/RxCocoa/iOS/DataSources/RxTableViewReactiveArrayDataSource.swift
/RxSwift-MVVMSample/Pods/RxCocoa/RxCocoa/iOS/DataSources/RxPickerViewAdapter.swift
/RxSwift-MVVMSample/Pods/RxCocoa/RxCocoa/iOS/DataSources/RxCollectionViewReactiveArrayDataSource.swift
/RxSwift-MVVMSample/Pods/RxCocoa/RxCocoa/Foundation/URLSession+Rx.swift
/RxSwift-MVVMSample/Pods/RxCocoa/RxCocoa/Foundation/NSObject+Rx+RawRepresentable.swift
/RxSwift-MVVMSample/Pods/RxCocoa/RxCocoa/Foundation/NSObject+Rx+KVORepresentable.swift
/RxSwift-MVVMSample/Pods/RxCocoa/RxCocoa/Foundation/NSObject+Rx.swift
/RxSwift-MVVMSample/Pods/RxCocoa/RxCocoa/Foundation/NotificationCenter+Rx.swift
/RxSwift-MVVMSample/Pods/RxCocoa/RxCocoa/Foundation/KVORepresentable+Swift.swift
/RxSwift-MVVMSample/Pods/RxCocoa/RxCocoa/Foundation/KVORepresentable+CoreGraphics.swift
/RxSwift-MVVMSample/Pods/RxCocoa/RxCocoa/Foundation/KVORepresentable.swift
/RxSwift-MVVMSample/Pods/RxCocoa/RxCocoa/Common/TextInput.swift
/RxSwift-MVVMSample/Pods/RxCocoa/RxCocoa/Common/SectionedViewDataSourceType.swift
/RxSwift-MVVMSample/Pods/RxCocoa/RxCocoa/Common/RxTarget.swift
/RxSwift-MVVMSample/Pods/RxCocoa/RxCocoa/Common/RxCocoaObjCRuntimeError+Extensions.swift
/RxSwift-MVVMSample/Pods/RxCocoa/RxCocoa/Common/Observable+Bind.swift
/RxSwift-MVVMSample/Pods/RxCocoa/RxCocoa/Common/Infallible+Bind.swift
/RxSwift-MVVMSample/Pods/RxCocoa/RxCocoa/Common/DelegateProxyType.swift
/RxSwift-MVVMSample/Pods/RxCocoa/RxCocoa/Common/DelegateProxy.swift
/RxSwift-MVVMSample/Pods/RxCocoa/RxCocoa/Common/ControlTarget.swift
/RxSwift-MVVMSample/Pods/RxCocoa/README.md
/RxSwift-MVVMSample/Pods/RxCocoa/Platform/RecursiveLock.swift
/RxSwift-MVVMSample/Pods/RxCocoa/Platform/Platform.Linux.swift
/RxSwift-MVVMSample/Pods/RxCocoa/Platform/Platform.Darwin.swift
/RxSwift-MVVMSample/Pods/RxCocoa/Platform/DispatchQueue+Extensions.swift
/RxSwift-MVVMSample/Pods/RxCocoa/Platform/DataStructures/Queue.swift
/RxSwift-MVVMSample/Pods/RxCocoa/Platform/DataStructures/PriorityQueue.swift
/RxSwift-MVVMSample/Pods/RxCocoa/Platform/DataStructures/InfiniteSequence.swift
/RxSwift-MVVMSample/Pods/RxCocoa/Platform/DataStructures/Bag.swift
/RxSwift-MVVMSample/Pods/RxCocoa/LICENSE.md
/RxSwift-MVVMSample/Pods/Pods.xcodeproj/project.pbxproj
/RxSwift-MVVMSample/Pods/Target Support Files/RxSwift/RxSwift.release.xcconfig
/RxSwift-MVVMSample/Pods/Target Support Files/RxSwift/RxSwift.modulemap
/RxSwift-MVVMSample/Pods/Target Support Files/RxSwift/RxSwift.debug.xcconfig
/RxSwift-MVVMSample/Pods/Target Support Files/RxSwift/RxSwift-umbrella.h
/RxSwift-MVVMSample/Pods/Target Support Files/RxSwift/RxSwift-prefix.pch
/RxSwift-MVVMSample/Pods/Target Support Files/RxSwift/RxSwift-Info.plist
/RxSwift-MVVMSample/Pods/Target Support Files/RxSwift/RxSwift-dummy.m
/RxSwift-MVVMSample/Pods/Target Support Files/RxRelay/RxRelay.release.xcconfig
/RxSwift-MVVMSample/Pods/Target Support Files/RxRelay/RxRelay.modulemap
/RxSwift-MVVMSample/Pods/Target Support Files/RxRelay/RxRelay.debug.xcconfig
/RxSwift-MVVMSample/Pods/Target Support Files/RxRelay/RxRelay-umbrella.h
/RxSwift-MVVMSample/Pods/Target Support Files/RxRelay/RxRelay-prefix.pch
/RxSwift-MVVMSample/Pods/Target Support Files/RxRelay/RxRelay-Info.plist
/RxSwift-MVVMSample/Pods/Target Support Files/RxRelay/RxRelay-dummy.m
/RxSwift-MVVMSample/Pods/Target Support Files/RxCocoa/RxCocoa.release.xcconfig
/RxSwift-MVVMSample/Pods/Target Support Files/RxCocoa/RxCocoa.modulemap
/RxSwift-MVVMSample/Pods/Target Support Files/RxCocoa/RxCocoa.debug.xcconfig
/RxSwift-MVVMSample/Pods/Target Support Files/RxCocoa/RxCocoa-umbrella.h
/RxSwift-MVVMSample/Pods/Target Support Files/RxCocoa/RxCocoa-prefix.pch
/RxSwift-MVVMSample/Pods/Target Support Files/RxCocoa/RxCocoa-Info.plist
/RxSwift-MVVMSample/Pods/Target Support Files/RxCocoa/RxCocoa-dummy.m
/RxSwift-MVVMSample/Pods/Target Support Files/Pods-RxSwift-MVVMSample/Pods-RxSwift-MVVMSample.release.xcconfig
/RxSwift-MVVMSample/Pods/Target Support Files/Pods-RxSwift-MVVMSample/Pods-RxSwift-MVVMSample.modulemap
/RxSwift-MVVMSample/Pods/Target Support Files/Pods-RxSwift-MVVMSample/Pods-RxSwift-MVVMSample.debug.xcconfig
/RxSwift-MVVMSample/Pods/Target Support Files/Pods-RxSwift-MVVMSample/Pods-RxSwift-MVVMSample-umbrella.h
/RxSwift-MVVMSample/Pods/Target Support Files/Pods-RxSwift-MVVMSample/Pods-RxSwift-MVVMSample-Info.plist
/RxSwift-MVVMSample/Pods/Target Support Files/Pods-RxSwift-MVVMSample/Pods-RxSwift-MVVMSample-frameworks.sh
/RxSwift-MVVMSample/Pods/Target Support Files/Pods-RxSwift-MVVMSample/Pods-RxSwift-MVVMSample-frameworks-Release-output-files.xcfilelist
/RxSwift-MVVMSample/Pods/Target Support Files/Pods-RxSwift-MVVMSample/Pods-RxSwift-MVVMSample-frameworks-Release-input-files.xcfilelist
/RxSwift-MVVMSample/Pods/Target Support Files/Pods-RxSwift-MVVMSample/Pods-RxSwift-MVVMSample-frameworks-Debug-output-files.xcfilelist
/RxSwift-MVVMSample/Pods/Target Support Files/Pods-RxSwift-MVVMSample/Pods-RxSwift-MVVMSample-frameworks-Debug-input-files.xcfilelist
/RxSwift-MVVMSample/Pods/Target Support Files/Pods-RxSwift-MVVMSample/Pods-RxSwift-MVVMSample-dummy.m
/RxSwift-MVVMSample/Pods/Target Support Files/Pods-RxSwift-MVVMSample/Pods-RxSwift-MVVMSample-acknowledgements.plist
/RxSwift-MVVMSample/Pods/Target Support Files/Pods-RxSwift-MVVMSample/Pods-RxSwift-MVVMSample-acknowledgements.markdown
/RxSwift-MVVMSample/Pods/RxSwift/RxSwift/Traits/PrimitiveSequence/Single.swift
/RxSwift-MVVMSample/Pods/RxSwift/RxSwift/Traits/PrimitiveSequence/PrimitiveSequence+Zip+arity.swift
/RxSwift-MVVMSample/Pods/RxSwift/RxSwift/Traits/PrimitiveSequence/PrimitiveSequence+Concurrency.swift
/RxSwift-MVVMSample/Pods/RxSwift/RxSwift/Traits/PrimitiveSequence/PrimitiveSequence.swift
/RxSwift-MVVMSample/Pods/RxSwift/RxSwift/Traits/PrimitiveSequence/ObservableType+PrimitiveSequence.swift
/RxSwift-MVVMSample/Pods/RxSwift/RxSwift/Traits/PrimitiveSequence/Maybe.swift
/RxSwift-MVVMSample/Pods/RxSwift/RxSwift/Traits/PrimitiveSequence/Completable+AndThen.swift
/RxSwift-MVVMSample/Pods/RxSwift/RxSwift/Traits/PrimitiveSequence/Completable.swift
/RxSwift-MVVMSample/Pods/RxSwift/RxSwift/Traits/Infallible/ObservableConvertibleType+Infallible.swift
/RxSwift-MVVMSample/Pods/RxSwift/RxSwift/Traits/Infallible/Infallible+Zip+arity.swift
/RxSwift-MVVMSample/Pods/RxSwift/RxSwift/Traits/Infallible/Infallible+Operators.swift
/RxSwift-MVVMSample/Pods/RxSwift/RxSwift/Traits/Infallible/Infallible+Create.swift
/RxSwift-MVVMSample/Pods/RxSwift/RxSwift/Traits/Infallible/Infallible+Concurrency.swift
/RxSwift-MVVMSample/Pods/RxSwift/RxSwift/Traits/Infallible/Infallible+CombineLatest+arity.swift
/RxSwift-MVVMSample/Pods/RxSwift/RxSwift/Traits/Infallible/Infallible.swift
/RxSwift-MVVMSample/Pods/RxSwift/RxSwift/SwiftSupport/SwiftSupport.swift
/RxSwift-MVVMSample/Pods/RxSwift/RxSwift/Subjects/SubjectType.swift
/RxSwift-MVVMSample/Pods/RxSwift/RxSwift/Subjects/ReplaySubject.swift
/RxSwift-MVVMSample/Pods/RxSwift/RxSwift/Subjects/PublishSubject.swift
/RxSwift-MVVMSample/Pods/RxSwift/RxSwift/Subjects/BehaviorSubject.swift
/RxSwift-MVVMSample/Pods/RxSwift/RxSwift/Subjects/AsyncSubject.swift
/RxSwift-MVVMSample/Pods/RxSwift/RxSwift/SchedulerType.swift
/RxSwift-MVVMSample/Pods/RxSwift/RxSwift/Schedulers/VirtualTimeScheduler.swift
/RxSwift-MVVMSample/Pods/RxSwift/RxSwift/Schedulers/VirtualTimeConverterType.swift
/RxSwift-MVVMSample/Pods/RxSwift/RxSwift/Schedulers/SerialDispatchQueueScheduler.swift
/RxSwift-MVVMSample/Pods/RxSwift/RxSwift/Schedulers/SchedulerServices+Emulation.swift
/RxSwift-MVVMSample/Pods/RxSwift/RxSwift/Schedulers/RecursiveScheduler.swift
/RxSwift-MVVMSample/Pods/RxSwift/RxSwift/Schedulers/OperationQueueScheduler.swift
/RxSwift-MVVMSample/Pods/RxSwift/RxSwift/Schedulers/MainScheduler.swift
/RxSwift-MVVMSample/Pods/RxSwift/RxSwift/Schedulers/Internal/ScheduledItemType.swift
/RxSwift-MVVMSample/Pods/RxSwift/RxSwift/Schedulers/Internal/ScheduledItem.swift
/RxSwift-MVVMSample/Pods/RxSwift/RxSwift/Schedulers/Internal/InvocableType.swift
/RxSwift-MVVMSample/Pods/RxSwift/RxSwift/Schedulers/Internal/InvocableScheduledItem.swift
/RxSwift-MVVMSample/Pods/RxSwift/RxSwift/Schedulers/Internal/DispatchQueueConfiguration.swift
/RxSwift-MVVMSample/Pods/RxSwift/RxSwift/Schedulers/HistoricalSchedulerTimeConverter.swift
/RxSwift-MVVMSample/Pods/RxSwift/RxSwift/Schedulers/HistoricalScheduler.swift
/RxSwift-MVVMSample/Pods/RxSwift/RxSwift/Schedulers/CurrentThreadScheduler.swift
/RxSwift-MVVMSample/Pods/RxSwift/RxSwift/Schedulers/ConcurrentMainScheduler.swift
/RxSwift-MVVMSample/Pods/RxSwift/RxSwift/Schedulers/ConcurrentDispatchQueueScheduler.swift
/RxSwift-MVVMSample/Pods/RxSwift/RxSwift/RxMutableBox.swift
/RxSwift-MVVMSample/Pods/RxSwift/RxSwift/Rx.swift
/RxSwift-MVVMSample/Pods/RxSwift/RxSwift/Reactive.swift
/RxSwift-MVVMSample/Pods/RxSwift/RxSwift/ObserverType.swift
/RxSwift-MVVMSample/Pods/RxSwift/RxSwift/Observers/TailRecursiveSink.swift
/RxSwift-MVVMSample/Pods/RxSwift/RxSwift/Observers/ObserverBase.swift
/RxSwift-MVVMSample/Pods/RxSwift/RxSwift/Observers/AnonymousObserver.swift
/RxSwift-MVVMSample/Pods/RxSwift/RxSwift/ObservableType+Extensions.swift
/RxSwift-MVVMSample/Pods/RxSwift/RxSwift/ObservableType.swift
/RxSwift-MVVMSample/Pods/RxSwift/RxSwift/Observables/Zip+Collection.swift
/RxSwift-MVVMSample/Pods/RxSwift/RxSwift/Observables/Zip+arity.swift
/RxSwift-MVVMSample/Pods/RxSwift/RxSwift/Observables/Zip.swift
/RxSwift-MVVMSample/Pods/RxSwift/RxSwift/Observables/WithUnretained.swift
/RxSwift-MVVMSample/Pods/RxSwift/RxSwift/Observables/WithLatestFrom.swift
/RxSwift-MVVMSample/Pods/RxSwift/RxSwift/Observables/Window.swift
/RxSwift-MVVMSample/Pods/RxSwift/RxSwift/Observables/Using.swift
/RxSwift-MVVMSample/Pods/RxSwift/RxSwift/Observables/ToArray.swift
/RxSwift-MVVMSample/Pods/RxSwift/RxSwift/Observables/Timer.swift
/RxSwift-MVVMSample/Pods/RxSwift/RxSwift/Observables/Timeout.swift
/RxSwift-MVVMSample/Pods/RxSwift/RxSwift/Observables/Throttle.swift
/RxSwift-MVVMSample/Pods/RxSwift/RxSwift/Observables/TakeWithPredicate.swift
/RxSwift-MVVMSample/Pods/RxSwift/RxSwift/Observables/TakeLast.swift
/RxSwift-MVVMSample/Pods/RxSwift/RxSwift/Observables/Take.swift
/RxSwift-MVVMSample/Pods/RxSwift/RxSwift/Observables/SwitchIfEmpty.swift
/RxSwift-MVVMSample/Pods/RxSwift/RxSwift/Observables/Switch.swift
/RxSwift-MVVMSample/Pods/RxSwift/RxSwift/Observables/SubscribeOn.swift
/RxSwift-MVVMSample/Pods/RxSwift/RxSwift/Observables/StartWith.swift
/RxSwift-MVVMSample/Pods/RxSwift/RxSwift/Observables/SkipWhile.swift
/RxSwift-MVVMSample/Pods/RxSwift/RxSwift/Observables/SkipUntil.swift
/RxSwift-MVVMSample/Pods/RxSwift/RxSwift/Observables/Skip.swift
/RxSwift-MVVMSample/Pods/RxSwift/RxSwift/Observables/Sink.swift
/RxSwift-MVVMSample/Pods/RxSwift/RxSwift/Observables/SingleAsync.swift
/RxSwift-MVVMSample/Pods/RxSwift/RxSwift/Observables/ShareReplayScope.swift
/RxSwift-MVVMSample/Pods/RxSwift/RxSwift/Observables/Sequence.swift
/RxSwift-MVVMSample/Pods/RxSwift/RxSwift/Observables/Scan.swift
/RxSwift-MVVMSample/Pods/RxSwift/RxSwift/Observables/Sample.swift
/RxSwift-MVVMSample/Pods/RxSwift/RxSwift/Observables/RetryWhen.swift
/RxSwift-MVVMSample/Pods/RxSwift/RxSwift/Observables/Repeat.swift
/RxSwift-MVVMSample/Pods/RxSwift/RxSwift/Observables/Reduce.swift
/RxSwift-MVVMSample/Pods/RxSwift/RxSwift/Observables/Range.swift
/RxSwift-MVVMSample/Pods/RxSwift/RxSwift/Observables/Producer.swift
/RxSwift-MVVMSample/Pods/RxSwift/RxSwift/Observables/Optional.swift
/RxSwift-MVVMSample/Pods/RxSwift/RxSwift/Observables/ObserveOn.swift
/RxSwift-MVVMSample/Pods/RxSwift/RxSwift/Observables/Never.swift
/RxSwift-MVVMSample/Pods/RxSwift/RxSwift/Observables/Multicast.swift
/RxSwift-MVVMSample/Pods/RxSwift/RxSwift/Observables/Merge.swift
/RxSwift-MVVMSample/Pods/RxSwift/RxSwift/Observables/Materialize.swift
/RxSwift-MVVMSample/Pods/RxSwift/RxSwift/Observables/Map.swift
/RxSwift-MVVMSample/Pods/RxSwift/RxSwift/Observables/Just.swift
/RxSwift-MVVMSample/Pods/RxSwift/RxSwift/Observables/GroupBy.swift
/RxSwift-MVVMSample/Pods/RxSwift/RxSwift/Observables/Generate.swift
/RxSwift-MVVMSample/Pods/RxSwift/RxSwift/Observables/First.swift
/RxSwift-MVVMSample/Pods/RxSwift/RxSwift/Observables/Filter.swift
/RxSwift-MVVMSample/Pods/RxSwift/RxSwift/Observables/Error.swift
/RxSwift-MVVMSample/Pods/RxSwift/RxSwift/Observables/Enumerated.swift
/RxSwift-MVVMSample/Pods/RxSwift/RxSwift/Observables/Empty.swift
/RxSwift-MVVMSample/Pods/RxSwift/RxSwift/Observables/ElementAt.swift
/RxSwift-MVVMSample/Pods/RxSwift/RxSwift/Observables/Do.swift
/RxSwift-MVVMSample/Pods/RxSwift/RxSwift/Observables/DistinctUntilChanged.swift
/RxSwift-MVVMSample/Pods/RxSwift/RxSwift/Observables/Dematerialize.swift
/RxSwift-MVVMSample/Pods/RxSwift/RxSwift/Observables/DelaySubscription.swift
/RxSwift-MVVMSample/Pods/RxSwift/RxSwift/Observables/Delay.swift
/RxSwift-MVVMSample/Pods/RxSwift/RxSwift/Observables/Deferred.swift
/RxSwift-MVVMSample/Pods/RxSwift/RxSwift/Observables/DefaultIfEmpty.swift
/RxSwift-MVVMSample/Pods/RxSwift/RxSwift/Observables/Decode.swift
/RxSwift-MVVMSample/Pods/RxSwift/RxSwift/Observables/Debug.swift
/RxSwift-MVVMSample/Pods/RxSwift/RxSwift/Observables/Debounce.swift
/RxSwift-MVVMSample/Pods/RxSwift/RxSwift/Observables/Create.swift
/RxSwift-MVVMSample/Pods/RxSwift/RxSwift/Observables/Concat.swift
/RxSwift-MVVMSample/Pods/RxSwift/RxSwift/Observables/CompactMap.swift
/RxSwift-MVVMSample/Pods/RxSwift/RxSwift/Observables/CombineLatest+Collection.swift
/RxSwift-MVVMSample/Pods/RxSwift/RxSwift/Observables/CombineLatest+arity.swift
/RxSwift-MVVMSample/Pods/RxSwift/RxSwift/Observables/CombineLatest.swift
/RxSwift-MVVMSample/Pods/RxSwift/RxSwift/Observables/Catch.swift
/RxSwift-MVVMSample/Pods/RxSwift/RxSwift/Observables/Buffer.swift
/RxSwift-MVVMSample/Pods/RxSwift/RxSwift/Observables/AsSingle.swift
/RxSwift-MVVMSample/Pods/RxSwift/RxSwift/Observables/AsMaybe.swift
/RxSwift-MVVMSample/Pods/RxSwift/RxSwift/Observables/Amb.swift
/RxSwift-MVVMSample/Pods/RxSwift/RxSwift/Observables/AddRef.swift
/RxSwift-MVVMSample/Pods/RxSwift/RxSwift/ObservableConvertibleType.swift
/RxSwift-MVVMSample/Pods/RxSwift/RxSwift/Observable+Concurrency.swift
/RxSwift-MVVMSample/Pods/RxSwift/RxSwift/Observable.swift
/RxSwift-MVVMSample/Pods/RxSwift/RxSwift/ImmediateSchedulerType.swift
/RxSwift-MVVMSample/Pods/RxSwift/RxSwift/GroupedObservable.swift
/RxSwift-MVVMSample/Pods/RxSwift/RxSwift/Extensions/Bag+Rx.swift
/RxSwift-MVVMSample/Pods/RxSwift/RxSwift/Event.swift
/RxSwift-MVVMSample/Pods/RxSwift/RxSwift/Errors.swift
/RxSwift-MVVMSample/Pods/RxSwift/RxSwift/Disposables/SubscriptionDisposable.swift
/RxSwift-MVVMSample/Pods/RxSwift/RxSwift/Disposables/SingleAssignmentDisposable.swift
/RxSwift-MVVMSample/Pods/RxSwift/RxSwift/Disposables/SerialDisposable.swift
/RxSwift-MVVMSample/Pods/RxSwift/RxSwift/Disposables/ScheduledDisposable.swift
/RxSwift-MVVMSample/Pods/RxSwift/RxSwift/Disposables/RefCountDisposable.swift
/RxSwift-MVVMSample/Pods/RxSwift/RxSwift/Disposables/NopDisposable.swift
/RxSwift-MVVMSample/Pods/RxSwift/RxSwift/Disposables/DisposeBase.swift
/RxSwift-MVVMSample/Pods/RxSwift/RxSwift/Disposables/DisposeBag.swift
/RxSwift-MVVMSample/Pods/RxSwift/RxSwift/Disposables/Disposables.swift
/RxSwift-MVVMSample/Pods/RxSwift/RxSwift/Disposables/CompositeDisposable.swift
/RxSwift-MVVMSample/Pods/RxSwift/RxSwift/Disposables/BooleanDisposable.swift
/RxSwift-MVVMSample/Pods/RxSwift/RxSwift/Disposables/BinaryDisposable.swift
/RxSwift-MVVMSample/Pods/RxSwift/RxSwift/Disposables/AnonymousDisposable.swift
/RxSwift-MVVMSample/Pods/RxSwift/RxSwift/Disposable.swift
/RxSwift-MVVMSample/Pods/RxSwift/RxSwift/Date+Dispatch.swift
/RxSwift-MVVMSample/Pods/RxSwift/RxSwift/ConnectableObservableType.swift
/RxSwift-MVVMSample/Pods/RxSwift/RxSwift/Concurrency/SynchronizedUnsubscribeType.swift
/RxSwift-MVVMSample/Pods/RxSwift/RxSwift/Concurrency/SynchronizedOnType.swift
/RxSwift-MVVMSample/Pods/RxSwift/RxSwift/Concurrency/SynchronizedDisposeType.swift
/RxSwift-MVVMSample/Pods/RxSwift/RxSwift/Concurrency/LockOwnerType.swift
/RxSwift-MVVMSample/Pods/RxSwift/RxSwift/Concurrency/Lock.swift
/RxSwift-MVVMSample/Pods/RxSwift/RxSwift/Concurrency/AsyncLock.swift
/RxSwift-MVVMSample/Pods/RxSwift/RxSwift/Cancelable.swift
/RxSwift-MVVMSample/Pods/RxSwift/RxSwift/Binder.swift
/RxSwift-MVVMSample/Pods/RxSwift/RxSwift/AnyObserver.swift
/RxSwift-MVVMSample/Pods/RxSwift/README.md
/RxSwift-MVVMSample/Pods/RxSwift/Platform/RecursiveLock.swift
/RxSwift-MVVMSample/Pods/RxSwift/Platform/Platform.Linux.swift
/RxSwift-MVVMSample/Pods/RxSwift/Platform/Platform.Darwin.swift
/RxSwift-MVVMSample/Pods/RxSwift/Platform/DispatchQueue+Extensions.swift
/RxSwift-MVVMSample/Pods/RxSwift/Platform/DataStructures/Queue.swift
/RxSwift-MVVMSample/Pods/RxSwift/Platform/DataStructures/PriorityQueue.swift
/RxSwift-MVVMSample/Pods/RxSwift/Platform/DataStructures/InfiniteSequence.swift
/RxSwift-MVVMSample/Pods/RxSwift/Platform/DataStructures/Bag.swift
/RxSwift-MVVMSample/Pods/RxSwift/Platform/AtomicInt.swift
/RxSwift-MVVMSample/Pods/RxSwift/LICENSE.md
/RxSwift-MVVMSample/Pods/RxRelay/RxRelay/Utils.swift
/RxSwift-MVVMSample/Pods/RxRelay/RxRelay/ReplayRelay.swift
/RxSwift-MVVMSample/Pods/RxRelay/RxRelay/PublishRelay.swift
/RxSwift-MVVMSample/Pods/RxRelay/RxRelay/Observable+Bind.swift
/RxSwift-MVVMSample/Pods/RxRelay/RxRelay/BehaviorRelay.swift
/RxSwift-MVVMSample/Pods/RxRelay/README.md
/RxSwift-MVVMSample/Pods/RxRelay/LICENSE.md
/RxSwift-MVVMSample/Pods/RxCocoa/RxCocoa/Traits/Signal/Signal+Subscription.swift
/RxSwift-MVVMSample/Pods/RxCocoa/RxCocoa/Traits/Signal/Signal.swift
/RxSwift-MVVMSample/Pods/RxCocoa/RxCocoa/Traits/Signal/PublishRelay+Signal.swift
/RxSwift-MVVMSample/Pods/RxCocoa/RxCocoa/Traits/Signal/ObservableConvertibleType+Signal.swift
/RxSwift-MVVMSample/Pods/RxCocoa/RxCocoa/Traits/Signal/ControlEvent+Signal.swift
/RxSwift-MVVMSample/Pods/RxCocoa/RxCocoa/Traits/SharedSequence/SharedSequence+Operators+arity.swift
/RxSwift-MVVMSample/Pods/RxCocoa/RxCocoa/Traits/SharedSequence/SharedSequence+Operators.swift
/RxSwift-MVVMSample/Pods/RxCocoa/RxCocoa/Traits/SharedSequence/SharedSequence+Concurrency.swift
/RxSwift-MVVMSample/Pods/RxCocoa/RxCocoa/Traits/SharedSequence/SharedSequence.swift
/RxSwift-MVVMSample/Pods/RxCocoa/RxCocoa/Traits/SharedSequence/SchedulerType+SharedSequence.swift
/RxSwift-MVVMSample/Pods/RxCocoa/RxCocoa/Traits/SharedSequence/ObservableConvertibleType+SharedSequence.swift
/RxSwift-MVVMSample/Pods/RxCocoa/RxCocoa/Traits/Driver/ObservableConvertibleType+Driver.swift
/RxSwift-MVVMSample/Pods/RxCocoa/RxCocoa/Traits/Driver/Driver+Subscription.swift
/RxSwift-MVVMSample/Pods/RxCocoa/RxCocoa/Traits/Driver/Driver.swift
/RxSwift-MVVMSample/Pods/RxCocoa/RxCocoa/Traits/Driver/ControlProperty+Driver.swift
/RxSwift-MVVMSample/Pods/RxCocoa/RxCocoa/Traits/Driver/ControlEvent+Driver.swift
/RxSwift-MVVMSample/Pods/RxCocoa/RxCocoa/Traits/Driver/BehaviorRelay+Driver.swift
/RxSwift-MVVMSample/Pods/RxCocoa/RxCocoa/Traits/ControlProperty.swift
/RxSwift-MVVMSample/Pods/RxCocoa/RxCocoa/Traits/ControlEvent.swift
/RxSwift-MVVMSample/Pods/RxCocoa/RxCocoa/RxCocoa.swift
/RxSwift-MVVMSample/Pods/RxCocoa/RxCocoa/RxCocoa.h
/RxSwift-MVVMSample/Pods/RxCocoa/RxCocoa/Runtime/include/RxCocoaRuntime.h
/RxSwift-MVVMSample/Pods/RxCocoa/RxCocoa/Runtime/include/_RXObjCRuntime.h
/RxSwift-MVVMSample/Pods/RxCocoa/RxCocoa/Runtime/include/_RXKVOObserver.h
/RxSwift-MVVMSample/Pods/RxCocoa/RxCocoa/Runtime/include/_RXDelegateProxy.h
/RxSwift-MVVMSample/Pods/RxCocoa/RxCocoa/Runtime/include/_RX.h
/RxSwift-MVVMSample/Pods/RxCocoa/RxCocoa/Runtime/_RXObjCRuntime.m
/RxSwift-MVVMSample/Pods/RxCocoa/RxCocoa/Runtime/_RXKVOObserver.m
/RxSwift-MVVMSample/Pods/RxCocoa/RxCocoa/Runtime/_RXDelegateProxy.m
/RxSwift-MVVMSample/Pods/RxCocoa/RxCocoa/Runtime/_RX.m
/RxSwift-MVVMSample/Pods/RxCocoa/RxCocoa/macOS/NSView+Rx.swift
/RxSwift-MVVMSample/Pods/RxCocoa/RxCocoa/macOS/NSTextView+Rx.swift
/RxSwift-MVVMSample/Pods/RxCocoa/RxCocoa/macOS/NSTextField+Rx.swift
/RxSwift-MVVMSample/Pods/RxCocoa/RxCocoa/macOS/NSSlider+Rx.swift
/RxSwift-MVVMSample/Pods/RxCocoa/RxCocoa/macOS/NSControl+Rx.swift
/RxSwift-MVVMSample/Pods/RxCocoa/RxCocoa/macOS/NSButton+Rx.swift
/RxSwift-MVVMSample/Pods/RxCocoa/RxCocoa/iOS/WKWebView+Rx.swift
/RxSwift-MVVMSample/Pods/RxCocoa/RxCocoa/iOS/UITextView+Rx.swift
/RxSwift-MVVMSample/Pods/RxCocoa/RxCocoa/iOS/UITextField+Rx.swift
/RxSwift-MVVMSample/Pods/RxCocoa/RxCocoa/iOS/UITableView+Rx.swift
/RxSwift-MVVMSample/Pods/RxCocoa/RxCocoa/iOS/UITabBarController+Rx.swift
/RxSwift-MVVMSample/Pods/RxCocoa/RxCocoa/iOS/UITabBar+Rx.swift
/RxSwift-MVVMSample/Pods/RxCocoa/RxCocoa/iOS/UISwitch+Rx.swift
/RxSwift-MVVMSample/Pods/RxCocoa/RxCocoa/iOS/UIStepper+Rx.swift
/RxSwift-MVVMSample/Pods/RxCocoa/RxCocoa/iOS/UISlider+Rx.swift
/RxSwift-MVVMSample/Pods/RxCocoa/RxCocoa/iOS/UISegmentedControl+Rx.swift
/RxSwift-MVVMSample/Pods/RxCocoa/RxCocoa/iOS/UISearchController+Rx.swift
/RxSwift-MVVMSample/Pods/RxCocoa/RxCocoa/iOS/UISearchBar+Rx.swift
/RxSwift-MVVMSample/Pods/RxCocoa/RxCocoa/iOS/UIScrollView+Rx.swift
/RxSwift-MVVMSample/Pods/RxCocoa/RxCocoa/iOS/UIRefreshControl+Rx.swift
/RxSwift-MVVMSample/Pods/RxCocoa/RxCocoa/iOS/UIPickerView+Rx.swift
/RxSwift-MVVMSample/Pods/RxCocoa/RxCocoa/iOS/UINavigationController+Rx.swift
/RxSwift-MVVMSample/Pods/RxCocoa/RxCocoa/iOS/UIGestureRecognizer+Rx.swift
/RxSwift-MVVMSample/Pods/RxCocoa/RxCocoa/iOS/UIDatePicker+Rx.swift
/RxSwift-MVVMSample/Pods/RxCocoa/RxCocoa/iOS/UIControl+Rx.swift
/RxSwift-MVVMSample/Pods/RxCocoa/RxCocoa/iOS/UICollectionView+Rx.swift
/RxSwift-MVVMSample/Pods/RxCocoa/RxCocoa/iOS/UIButton+Rx.swift
/RxSwift-MVVMSample/Pods/RxCocoa/RxCocoa/iOS/UIBarButtonItem+Rx.swift
/RxSwift-MVVMSample/Pods/RxCocoa/RxCocoa/iOS/UIApplication+Rx.swift
/RxSwift-MVVMSample/Pods/RxCocoa/RxCocoa/iOS/UIActivityIndicatorView+Rx.swift
/RxSwift-MVVMSample/Pods/RxCocoa/RxCocoa/iOS/Proxies/RxWKNavigationDelegateProxy.swift
/RxSwift-MVVMSample/Pods/RxCocoa/RxCocoa/iOS/Proxies/RxTextViewDelegateProxy.swift
/RxSwift-MVVMSample/Pods/RxCocoa/RxCocoa/iOS/Proxies/RxTextStorageDelegateProxy.swift
/RxSwift-MVVMSample/Pods/RxCocoa/RxCocoa/iOS/Proxies/RxTableViewDelegateProxy.swift
/RxSwift-MVVMSample/Pods/RxCocoa/RxCocoa/iOS/Proxies/RxTableViewDataSourceProxy.swift
/RxSwift-MVVMSample/Pods/RxCocoa/RxCocoa/iOS/Proxies/RxTableViewDataSourcePrefetchingProxy.swift
/RxSwift-MVVMSample/Pods/RxCocoa/RxCocoa/iOS/Proxies/RxTabBarDelegateProxy.swift
/RxSwift-MVVMSample/Pods/RxCocoa/RxCocoa/iOS/Proxies/RxTabBarControllerDelegateProxy.swift
/RxSwift-MVVMSample/Pods/RxCocoa/RxCocoa/iOS/Proxies/RxSearchControllerDelegateProxy.swift
/RxSwift-MVVMSample/Pods/RxCocoa/RxCocoa/iOS/Proxies/RxSearchBarDelegateProxy.swift
/RxSwift-MVVMSample/Pods/RxCocoa/RxCocoa/iOS/Proxies/RxScrollViewDelegateProxy.swift
/RxSwift-MVVMSample/Pods/RxCocoa/RxCocoa/iOS/Proxies/RxPickerViewDelegateProxy.swift
/RxSwift-MVVMSample/Pods/RxCocoa/RxCocoa/iOS/Proxies/RxPickerViewDataSourceProxy.swift
/RxSwift-MVVMSample/Pods/RxCocoa/RxCocoa/iOS/Proxies/RxNavigationControllerDelegateProxy.swift
/RxSwift-MVVMSample/RxSwift-MVVMSample.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
/RxSwift-MVVMSample/RxSwift-MVVMSample.xcworkspace/contents.xcworkspacedata
/RxSwift-MVVMSample/RxSwift-MVVMSample.xcodeproj/project.xcworkspace/contents.xcworkspacedata
